@import 'tailwindcss';
@import 'leaflet/dist/leaflet.css';

* {
  direction: rtl;
}
:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
  --animate-expand: expand 0.2s ease-in-out;
  @keyframes expand {
    0% {
      transform: scaleX(0);
    }

    100% {
      transform: scaleX(1);
    }
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
    --purple: #7e22ce;
    --semi_purple: #e9d5ff;
  }
}

@theme {
  --color-main-green: #2f4f10;
  --color-semi-green: #9ab084a2;
  --color-semi-brown: #593209;
}

@font-face {
  font-family: 'Zain';
  src: url('/fonts/Zain-Regular.ttf');
  font-weight: normal;
  font-style: normal;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Zain, sans-serif;
}
